.navigation
    ul.navigation__list
        li.navigation__item
            a.navigation__link(href="projects.html") Мои работы
        li.navigation__item
            a.navigation__link(href="blog.html") Блог
        li.navigation__item
            a.navigation__link(href="about.html") Обо мне
        li.navigation__item
            a.navigation__link(href="index.html") Авторизация